---
interface Props {
  type: any | 'text';
  name: string;
  required: boolean | false;
  label: string;
}
const { type, name, required, label }: Props = Astro.props;
---

<div class='input__group'>
  <input type={type} id={name} name={name} placeholder={label} required={required} />
  <label for={name}>{label}</label>
</div>
